.box {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: blur-animation;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blur-animation {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(10px);
  }
}